<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509978242235-mneppohi99fsdip7bnutt1nfbfmbe76o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509978242235-mneppohi99fsdip7bnutt1nfbfmbe76o</string>
	<key>API_KEY</key>
	<string>AIzaSyA1r05VEK2kpFOgSYxP_7h8TGxJemCuyxY</string>
	<key>GCM_SENDER_ID</key>
	<string>509978242235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iraqi.hardwarestore</string>
	<key>PROJECT_ID</key>
	<string>iraqi-hardware-store</string>
	<key>STORAGE_BUCKET</key>
	<string>iraqi-hardware-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509978242235:ios:f3edf1b65d127d71b6cd9e</string>
</dict>
</plist>